  @font-face {
      font-family: "BB";
      src: url("Blackbird.ttf");
  }
  
  @font-face {
      font-family: "KR";
      src: url("KaushanScript-Regular.otf");
  }
  
  html {
      background: url(background.png) no-repeat;
      background-position: right;
      background-size: 50% 200%;
      background-color: rgb(245, 211, 229);
  }
  
  body {
      font-family: sans-serif;
      padding: 20px 20px 20px 50px;
      color: rgb(98, 95, 95);
  }
  
  p {
      width: 49%;
  }
  
  .header {
      color: rebeccapurple;
      font-family: serif;
      font-weight: lighter;
      margin-bottom: 0px;
      padding-bottom: 0px;
      font-size: 2.9em;
      text-shadow: 2px 2px 2px;
  }
  
  .plan {
      font-family: "BB";
      margin-top: 100px;
      font-weight: lighter;
      margin-bottom: 500px;
      color: rgb(68, 65, 65);
  }
  
  .sign {
      margin-top: 30px;
      color: black;
  }
  
  .pgraph {
      font-weight: lighter;
      color: rgb(77, 73, 73);
  }
  
  form a {
      color: rgb(98, 95, 95);
  }
  
  div a {
      color: rgb(98, 95, 95);
      text-decoration: none;
  }
  
  .foot {
      font-size: 0.7em;
  }
  
  form {
      display: flex;
      flex-direction: column;
  }
  
  .block {
      display: flex;
      flex-direction: row;
  }
  
  .firstNameBlock,
  .lastNameBlock {
      display: flex;
      flex-direction: column;
      width: 25%;
  }
  
  #firstName,
  #lastName {
      width: 90%;
  }
  
  .firstNameBlock {
      padding-right: 0px;
      margin-right: 0px;
  }
  
  .lastNameBlock {
      padding-left: 0px;
      margin-left: 0px;
  }
  
  * label {
      font-size: 0.7em;
      margin-bottom: 5px;
  }
  
  #label2 {
      margin-top: 10px;
  }
  
  .input3,
  #input3 {
      width: 47.4%;
      font-family: "KR";
  }
  
  * input {
      height: 40px;
      border-radius: 5px;
      background-color: rgb(245, 211, 229);
      font-family: "KR";
      border: inset rgb(246, 158, 204);
  }
  
  #input3 {
      background-color: rebeccapurple;
      border: rebeccapurple groove;
  }
  
  .label1 {
      margin-top: 5px;
  }
  
  @media only screen and (max-width: 920px) {
      html {
          background-size: cover;
          background-color: rgb(246, 191, 219);
      }
      body {
          background-color: rgb(246, 191, 219, 0.3);
          height: 695px;
      }
      #input3,
      .input3 {
          width: 80%;
      }
      #firstName,
      #lastName {
          width: 150%;
      }
      .lastNameBlock {
          padding-left: 0px;
          margin-left: 17.5%;
      }
      p {
          width: 80%;
      }
  }
  
  @media only screen and (max-width: 420px) {
      .header {
          color: rgb(245, 211, 229);
          text-decoration: rebeccapurple overline underline;
      }
      .sign {
          color: rgb(207, 187, 198);
      }
      .pgraph {
          color: rgb(245, 211, 229);
      }
      header {
          text-align: center;
      }
      body {
          padding: 20px 20px 10px 20px;
      }
      #input3,
      .input3 {
          width: 100%;
      }
      #firstName,
      #lastName {
          width: 190%;
      }
      .lastNameBlock {
          padding-left: 0px;
          margin-left: 27.5%;
      }
      p {
          width: 100%;
      }
  }
  
  @media only screen and (max-height: 740px) {
      html {
          height: 740px;
      }
  }
  
  @media only screen and (max-height: 820px) {
      html {
          height: 812px;
      }
      body {
          height: 812px;
      }
      * input {
          height: 50px;
          border-radius: 5px;
          background-color: rgb(245, 211, 229);
          font-family: "KR";
          border: inset rgb(246, 158, 204);
          margin-bottom: 20px;
      }
  }